<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<servlet>
		<servlet-name>ShowXmlData</servlet-name>
		<servlet-class>com.itgd.server.ShowXmlData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>XmlDataEdit</servlet-name>
		<servlet-class>com.itgd.server.XmlDataEdit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>XmlUpdateData</servlet-name>
		<servlet-class>com.itgd.server.XmlUpdateData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowVipData</servlet-name>
		<servlet-class>com.itgd.edit.vip.ShowVipData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VipDataEdit</servlet-name>
		<servlet-class>com.itgd.edit.vip.VipDataEdit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViplUpdateData</servlet-name>
		<servlet-class>com.itgd.edit.vip.ViplUpdateData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowNationalData</servlet-name>
		<servlet-class>com.itgd.edit.national.ShowNationalData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NationalDataEdit</servlet-name>
		<servlet-class>com.itgd.edit.national.NationalDataEdit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NationalUpdateData</servlet-name>
		<servlet-class>com.itgd.edit.national.NationalUpdateData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowConstituencyData</servlet-name>
		<servlet-class>com.itgd.edit.constituency.ShowConstituencyData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConstituencyEditData</servlet-name>
		<servlet-class>com.itgd.edit.constituency.ConstituencyEditData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConstituencyUpdateData</servlet-name>
		<servlet-class>com.itgd.edit.constituency.ConstituencyUpdateData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowAssemblyData</servlet-name>
		<servlet-class>com.itgd.edit.assembly.ShowAssemblyData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AsseblyUpdateData</servlet-name>
		<servlet-class>com.itgd.edit.assembly.AsseblyUpdateData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AsseblyDataEdit</servlet-name>
		<servlet-class>com.itgd.edit.assembly.AsseblyDataEdit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowPartyMaster</servlet-name>
		<servlet-class>com.itgd.edit.party.ShowPartyMaster</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PartyDataEdit</servlet-name>
		<servlet-class>com.itgd.edit.party.PartyDataEdit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.itgd.login.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowErrors</servlet-name>
		<servlet-class>com.itgd.error.ShowErrors</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NationalMasterUpdate</servlet-name>
		<servlet-class>com.itgd.edit.national.NationalMasterUpdate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowStateData</servlet-name>
		<servlet-class>com.itgd.edit.state.ShowStateData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateStateData</servlet-name>
		<servlet-class>com.itgd.edit.state.UpdateStateData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewNationalData</servlet-name>
		<servlet-class>com.itgd.edit.national.NewNationalData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewDataUpdate</servlet-name>
		<servlet-class>com.itgd.edit.national.NewDataUpdate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowNewState</servlet-name>
		<servlet-class>com.itgd.edit.state.ShowNewState</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateNewState</servlet-name>
		<servlet-class>com.itgd.edit.state.UpdateNewState</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowAsseblyConstituencyData</servlet-name>
		<servlet-class>com.itgd.edit.assembly.ShowAsseblyConstituencyData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AssemblyConstituencyEditData</servlet-name>
		<servlet-class>com.itgd.edit.assembly.AssemblyConstituencyEditData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AssemblyConstituencyUpdateData</servlet-name>
		<servlet-class>com.itgd.edit.assembly.AssemblyConstituencyUpdateData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowXmlData</servlet-name>
		<url-pattern>/showdata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XmlDataEdit</servlet-name>
		<url-pattern>/xedit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XmlUpdateData</servlet-name>
		<url-pattern>/xupdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowVipData</servlet-name>
		<url-pattern>/showvipdata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VipDataEdit</servlet-name>
		<url-pattern>/vipeditdata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViplUpdateData</servlet-name>
		<url-pattern>/vipupdatedata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowNationalData</servlet-name>
		<url-pattern>/shownationaldata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NationalDataEdit</servlet-name>
		<url-pattern>/nationaleditdata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NationalUpdateData</servlet-name>
		<url-pattern>/nationalupdatedata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowConstituencyData</servlet-name>
		<url-pattern>/showconstituencydata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConstituencyEditData</servlet-name>
		<url-pattern>/constituencyeditdata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConstituencyUpdateData</servlet-name>
		<url-pattern>/updateconstituencydata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowAssemblyData</servlet-name>
		<url-pattern>/showassemblydata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AsseblyUpdateData</servlet-name>
		<url-pattern>/assemblydataupdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AsseblyDataEdit</servlet-name>
		<url-pattern>/assemblydataedit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowPartyMaster</servlet-name>
		<url-pattern>/showpartydata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PartyDataEdit</servlet-name>
		<url-pattern>/partyeditdata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowErrors</servlet-name>
		<url-pattern>/showerror</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NationalMasterUpdate</servlet-name>
		<url-pattern>/nationalmasterupdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowStateData</servlet-name>
		<url-pattern>/showsatedata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStateData</servlet-name>
		<url-pattern>/updatestatedata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewNationalData</servlet-name>
		<url-pattern>/national</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewDataUpdate</servlet-name>
		<url-pattern>/nationalupdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowNewState</servlet-name>
		<url-pattern>/shownewstate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateNewState</servlet-name>
		<url-pattern>/statenewupdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowAsseblyConstituencyData</servlet-name>
		<url-pattern>/showassemblyconstituencydata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssemblyConstituencyEditData</servlet-name>
		<url-pattern>/assemblyconstituencyeditdata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssemblyConstituencyUpdateData</servlet-name>
		<url-pattern>/assemblyconstituencyupdatedata</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>